.ActiveCard {
    margin: 15px;
    height: 45vh;
    min-width: 425px;
    max-width: 570px;
    flex-grow: 2;
    background-color: #AAE0FF;
    display: block;
    align-items: center;
    justify-content: center;
}

.ActiveCard h2 {
    font-size: 200%;
    color: #479DCC;
    text-align: center;
}