.SideBarLinkContainer {
    display: flex;
    margin: 5px;
    color: #479DCC;
    font-size: 0.8rem;
    background-color: #F1F1F1;
    width: 15%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    border-radius: 4em;

}

.SideBarLinkContainer:hover {
    background-color: #479DCC;
    color: #FFF189;
}